@use '../../../base/variables' as v;
@use '../../../utils/mixins' as m;

.featured-product {

  &__wrapp {
    @include m.flex(column, 5rem);
  }

  &__heading {
    @include m.flex(column, 0.5rem);
  }

  &__label {
    color: v.$primary;
    font-weight: 600;
    font-size: 2.5rem;
  }

  &__title {
    font-family: v.$primaryFont;
    font-weight: 800;
    font-size: 4rem;

    @include m.telefono {
      font-size: 4.5rem
    }

    @include m.tablet {
      font-size: 5.5rem;
    }
  }

  &__image {
    position: relative
  }

  &__info {
    @include m.flex(column, 2rem);

    @include m.desktop {
      @include m.grid(3, 0);
    }
  }

  &__info-title {
    text-align: left;
    font-family: v.$primaryFont;
    font-weight: 600;
    font-size: 3.5rem;

    @include m.tablet {
      font-size: 4rem;
    }
  }

  &__info-items {
    grid-column: 2 / 4;
    @include m.flex(column, 0);
  }

  &__info-item {
    @include m.flex(column, 1.5rem);
    border-bottom: 1px solid v.$secondary;
    padding: 2rem 0 3rem 0;

    &:first-child {
      padding-top: 0;
    }
  }

  &__item-title {
    font-size: 2.8rem;
    color: v.$secondary;
    font-family: v.$primaryFont;
    font-weight: 600;

    @include m.telefono {
      font-size: 3rem;
    }

    @include m.tablet {
      font-size: 3.5rem;
    }
  }
}

