@use '../../../base/variables' as v;
@use '../../../utils/mixins' as m;

.hotspot {
  
  
  position: absolute;
  width: auto;

  &__wrapp{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn-pulse {
    z-index: 5;
    cursor: pointer;
  }

  &__tooltip-wrapp {
    z-index: 10;
    height: 0;
    width: 40vw;
    overflow: hidden;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    border-top-left-radius: 0%;
    
    @include m.tablet {
      width: 40rem;
    }
  }

  &__tooltip-wrapp--right {
    border-top-left-radius: 1rem;
    border-top-right-radius: 0%;
    transform: translateX(-100%);
    left: 50%;
  }

  &__tooltip {
    position: relative;
    overflow: hidden;
    
    

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #0456407d;
      backdrop-filter: blur(2.3px);
      z-index: -1;
      
    }

    & p {
      
      padding: 1.5rem;
      font-size: 1.6rem;
      @include m.tablet {
        font-size: 1.8rem;
        padding: 2rem;
      }
    }
  }
}