@use '../../../base/variables' as v;
@use '../../../utils/mixins' as m;

.categorys {
    min-height: 100vh;

    &__wrapper {
      background: #0B0B0E /* linear-gradient(to bottom, #0E0E12 0%, #070709 35%, #0E0E12 100% ) */; 
      
      padding: 5rem 0;

      @include m.telefono-2 {
        padding: 6rem 0;
      }

      @include m.tablet-2 {
        padding: 7rem 0;
      }
    }

  &__box {
    height: 100%;
    position: relative;

    @include m.flex(column, 5rem);


    @include m.telefono-2 {
      gap: 6rem
    }
    
    @include m.tablet-2 {
      gap: 10rem
    }

  }

  &__category-one-heading {
    display: grid;
    grid-template-columns: 0.65fr 0.35fr;
  }

  &__title-wrapp {
    @include m.flex(column, 2rem);

  }
  
  &__heading {     
      font-size: 3.8rem;
      font-family: v.$primaryFont;
      line-height: 1;
      text-transform: uppercase;
      font-weight: 700;

      @include m.telefono-2 { 
        font-size: 4.5rem;
    }

      @include m.tablet { 
          font-size: 5rem;
      }
  }

  &__line {
    background-color: v.$secondary;
    flex-grow: 1; //animamos flex-grow
    height: 1px;
    background-color: wheat;
  }
}

