@use '../../../base/variables' as v;
@use '../../../utils/mixins' as m;

.categorys {

  

  &__title-wrapp {
    @include m.flex(row, 0);
    align-items: center;
    width: max-content;
    will-change: transform;
    padding: 0rem 0rem 8rem;

    @include m.telefono-2 {
      padding: 10rem 0 ;
    }

    @include m.tablet-2 {
      min-height: 95vh;
    }
  }
  
  &__heading {     
      font-size: 7rem; //15rem;
      font-family: v.$primaryFont;
      line-height: 1.5;
      text-transform: uppercase;
      font-weight: 700;
      

      @include m.telefono-2 { 
        font-size: 18rem;
        line-height: 1;
      }

      @include m.tablet-2 { 
          font-size: 28rem;
      }
  }

  &__box {
    position: relative;
    width: 100%;
    overflow: hidden;
    @include m.flex(column, 6rem);


    @include m.telefono {
      gap: 6rem
    }

    @include m.telefono-2 {
      gap: 7rem
    }
    
    @include m.tablet-2 {
      gap: 8rem
    }
  }

  /* &__line {
    background-color: v.$secondary;
    flex-grow: 1; //animamos flex-grow
    height: 1px;
    background-color: wheat;
  } */
}

