@use '../../../base/variables' as v;
@use '../../../utils/mixins' as m;

.categorys {

  &__title-wrapp-wrapp {
    @media (max-aspect-ratio: 1/1) {
      width: 95%;
      margin: 0 auto;
    }
  }

  &__title-wrapp {
    @include m.flex(row, 0);
    align-items: center;
    width: max-content;
    will-change: transform;
    padding: 0rem 0rem 8rem;

    @include m.telefono-2 {
      padding: 10rem 0 14rem 0;
    }

    @media (max-aspect-ratio: 1/1) and (min-width: 665px) {
      padding: 10rem 0 14rem 0;
    }

    @include m.tablet-2 {
      min-height: 95vh;
    }

    @media (max-aspect-ratio: 1/1) and (min-width: 768px) {
      min-height: initial;
      padding: 5rem 0rem 15rem;
      
    }

  }
  
  &__heading {     
      font-size: 7rem; //15rem;
      font-family: v.$primaryFont;
      line-height: 1.5;
      text-transform: uppercase;
      font-weight: 700;

      @media (max-aspect-ratio: 1/1) and (min-width: 665px) {
        font-size: 10rem;
      }

      @media (min-aspect-ratio: 1/1) and (min-width: 665px){ 
        font-size: 20rem;
        line-height: 1;
      }

      @include m.tablet-2 { 
        font-size: 28rem;
      }

      @include m.desktop-3 { 
          font-size: 30rem;
      }

      @include m.desktop-4 { 
        font-size: 20vw;
      }


      @media (max-aspect-ratio: 1/1) and (min-width: 768px) {
        font-size: 14rem;
      }
      
  }

  &__box {
    position: relative;
    width: 100%;
    overflow: hidden;
    @include m.flex(column, 6rem);


    @include m.telefono {
      gap: 6rem
    }

    @include m.telefono-2 {
      gap: 7rem
    }
    
    @include m.tablet-2 {
      gap: 8rem
    }
  }

  /* &__line {
    background-color: v.$secondary;
    flex-grow: 1; //animamos flex-grow
    height: 1px;
    background-color: wheat;
  } */
}

