@use '../../base/variables' as v;
@use '../../utils/mixins' as m;


.header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .2s;

    &__barra {
        padding: 1rem 0;
        @include m.flex(row, 0);
        justify-content: space-between;
        align-items: center;
    }

    &__name {
        color: v.$secundary;
        font-size: 3.5rem;
        font-family: v.$fuentePrincipal;
    }

    &__logo {
        padding-top: 2rem;
        min-width: 8rem;
        width: 8%;
        max-width: 19rem;

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__menu {
        @include m.flex(column, 0);
    }

    &__menu-abrir,
    &__menu-cerrar {
        cursor: pointer;
        width: 2.8rem;
        height: 2.8rem;


        @include m.tablet {
            width: 3rem;
            height: 3rem;
        }

        @include m.desktop-2 {
            display: none;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__menu-contenido {
        background-color: lighten( v.$bgBody, 3%);
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%);
        z-index: 100;
        height: 100dvh;
        width: 100%;
        transition: all ease 0.5s;
        
        @include m.flex(column, 0);

        @include m.telefono {
            width: 60%;
        }

        @include m.telefono-2 {
            width: 45%;
        }

        @include m.mq(900px) {
            width: 32%;
        }

        @include m.mq(1100px) {
            width: 30%;
        }

        @include m.desktop-2 {
            display: block;
            position: static;
            padding: 0;
            transform: translate(0);
            width: auto;
            height: auto;
            background-color: transparent;
        }
    }

    &__menu-top {
        @include m.flex(row, 0);
        justify-content: space-between;
        align-items: center;
        padding: 2rem;

        @include m.desktop-2 {
            padding: 0;
        }
    }

    &__menu-cerrar {
        align-self: end;
        cursor: pointer;
        width: 3.5rem;
        height: 3.5rem;
    }
}
