@use '../../base/variables' as v;
@use '../../utils/mixins' as m;

.nav {

    padding: 2rem;

    @include m.desktop-2 {
        @include m.flex(row, 1rem);
        align-items: center;
        padding: 0;
    }

    &__lista {
        
        @include m.flex(column, initial);

        @include m.desktop-2 {
            @include m.flex(row, 2rem);
        }
    }

    &__divider {
        display: none;

        @include m.desktop-2 {
            display:  block;
        }
    }
    
    &__link {
        display: block;
        color: v.$secundary;
        font-size: 1.6rem;
        margin: 1rem 0;
        line-height: normal;
        font-weight: 300;

        @include m.desktop-2 {
            margin: 0;
        }
    }

    &__box-social {
        padding: 2rem;
        
        @include m.flex(column, 1.5rem);
        justify-content: center;
        align-items: start;
    }

    &__icons-social {
        @include m.flex(row, 1.5rem);
    }

    &__icons-social img {
        width: 2.5rem;
    }
}