@use '../../base/variables' as v;
@use '../../utils/mixins' as m;

.nav {

    @include m.desktop-2 {
        @include m.flex(row, 1rem);
        align-items: center;
    }

    &__lista {
        
        @include m.flex(column, initial);

        @include m.desktop-2 {
            @include m.flex(row, 2rem);
        }
    }
    
    &__link {
        display: block;
        color: v.$secundary;
        font-size: 1.6rem;
        margin: 1rem 0;
        line-height: normal;
        font-weight: 300;

        @include m.desktop-2 {
            margin: 0;
        }
    }

    
}