@use '../../base/variables' as v;
@use '../../utils/mixins' as m;


.category {

  @media(min-width: 1120px) {
    height: 100%;
    width: 100vw;
  }
  
  &__content {
    margin-bottom: 3rem;

    @include m.flex(column, 1.5rem);
    align-items: center;

    &:nth-child(4) {
        margin-bottom: 0;
    }

    @media(min-width: 1120px) {
      width: 100%;
      height: 100%;
      position: relative;
      will-change: transform;
      margin-bottom: 0;
      padding: 0 7rem;
      @include m.flex(row, 4rem);
    }
}

&__img {
    width: 100%;
    height: 100%;
    will-change: transform;
    transform: scale(1);
    border-radius: 1rem;
    filter: brightness(0.7); 
    
    @include m.desktop { 
        width: 72rem;
    }
}

&__information {
    @include m.flex(column, 1rem);
    align-items: center;
    @media(min-width: 1120px) {
        @include m.flex(column, 2rem);
        align-items: flex-start;
    }
}
&__title {
    font-size: 3rem;
    font-weight: 500;
    font-family: v.$primaryFont;
    /* line-height: 1.2; */
    @include m.tablet { 
        font-size: 4rem;
    }
}
&__text {
    text-align: center;
    font-size: 1.6rem;
    @include m.tablet { 
        font-size: 2.2rem;
    }
    @media(min-width: 1120px) {
            text-align: initial;
    }
}
&__link {
    font-size: 1.6rem;
    @include m.boton(v.$primary, v.$secundary);
    @include m.tablet { 
        font-size: 1.8rem;
        padding: .5rem 4rem;
    }
}
}