@use '../../base/variables' as v;
@use '../../utils/mixins' as m;

.categorys {
  position: relative;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  

  @media (min-width: 768px) {
    height: 100vh;
  }
  

  &__box {
    @include m.flex(column, 5rem);
    
    @media (min-width: 768px) {
      margin: 20vh 0;
      padding-bottom: 1px;
      height: fit-content;
      width: 300%;
      @include m.flex(row, 0);
      flex-wrap: nowrap;
    }
  }

  
  &__heading {     
      font-size: 3rem;
      font-family: v.$primaryFont;
      line-height: 1;

      @include m.telefono-2 { 
          font-size: 4rem;
      }
  }
}