@use '../../base/variables' as v;
@use '../../utils/mixins' as m;

.categorys {
  position: relative;
  margin-left: -5vw;
  margin-right: -5vw;
  height: 100vh;

  &__box {
    height: 80vh;
    padding: 10vh 0;
    width: 300%;
    display: flex;
    flex-wrap: nowrap;
  }

  &__slide-1 {
    /* transform: rotate(-90deg);
    position: absolute;
    top: 0;
    left: 0; */
  
  }
  
  &__heading {     
      font-size: 3rem;
      font-family: v.$primaryFont;

      @include m.telefono-2 { 
          font-size: 4rem;
      }

      @include m.tablet { 
          font-size: 5rem;         
      }
  }
}