@use '../../base/variables' as v;
@use '../../utils/mixins' as m;

.svg-wrapper {

  will-change: transform;
  width: max-content;
  z-index: -1;
  
  & svg {
    width: 45rem;
    height: auto;


    @include m.desktop-2 {
      width: 55rem;
    }

  }
}
