@use '../../base/variables' as v;
@use '../../utils/mixins' as m;

.svg-wrapper {

  will-change: transform;
  width: max-content;
  z-index: -1;
  
  & svg {
    width: 55rem;
    height: auto;
    

    @include m.telefono {
      width: 65rem;
    }

    @include m.telefono-2 {
      width: 70rem;
    }

    @include m.tablet {
      width: 75rem;
    }

    @include m.desktop {
      width: 80rem;
    }

    @include m.desktop-2 {
      width: 85rem;
    }

  }
}
