@use '../../base/variables' as v;
@use '../../utils/mixins' as m;

.highlighted-text {
  padding: 6rem  0;
  
  @include m.telefono-2 {
    padding: 8rem  0;
  }

  @include m.tablet {
    padding: 10rem  0;
  }

  @include m.desktop-2 {
    padding: 13rem 0 10rem 0;
  } 

  &__wrapp {
    @include m.flex(column, 0);
    position: relative;
  }

  &__bg-image {
    position: absolute;
    top: 0%;
    right: 1%;
    transform: translate(40%, -49.66%);
    width: max-content;
    z-index: -1;

    @include m.tablet {
      transform: translate(30%, -49.66%);
    }

    @include m.desktop {
      transform: translate(25%, -49.66%);
    }

    @include m.desktop-2 {
      transform: translate(8%, -49.66%);
    }



    & img {
      z-index: -1;
    }
  }

  &__hover {
    position: absolute;
    top: 0%;
    right: 1%;
    transform: perspective(1500px) translate(8%, -49.66%);
    z-index: 5;
    //border: 1px solid red;
    

    @include m.telefono {
      width: 65rem;
    }

    @include m.telefono-2 {
      width: 70rem;
    }

    @include m.tablet {
      width: 75rem;
    }

    @include m.desktop {
      width: 80rem;
    }

    @include m.desktop-2 {
      width: 85rem;
    }
  }

  &__line {
    //width: 25%;
    height: 1px;
    background-color: v.$secondary;
  }

  &__text {
    width: 80%;
    margin: 0 auto;
    padding: 4rem 0 0 0;
    font-size: 2.5rem;
    font-family: v.$primaryFont;

    @include m.telefono {
      padding: 5rem 0 0 0;
    }

    @include m.telefono-2 {
      //padding: 5rem 0 0 0;
      width: 70%;
    }
  
    @include m.tablet {
      padding: 6rem 0 0 0;
      width: 65%;
    }


    @include m.desktop {
      padding: 8rem 0 0 0;
      width: 55%;
    } 
  
    @include m.desktop-2 {
      padding: 10rem 0 0 0;
      width: 45%;
    } 



    

  }
}
