@use '../../base/variables' as v;
@use '../../utils/mixins' as m;

.marquee { 
  width: 100%;
  overflow: hidden;

  &__wrapp {
    position: relative;
    white-space: nowrap;
    display: flex;
    width: max-content;
  }

  &__text {
    font-size: 10rem;
    font-family: v.$primaryFont;
    color: v.$secondary;
    text-transform: uppercase;


    @include m.tablet {
      font-size: 15rem;
    }

    @include m.tablet-2 {
      font-size: 20rem;
    }

    @include m.desktop {
      font-size: 8vw;
    }

  }

  &__text:nth-of-type(2) {
    position: absolute;
    left: 100%;
  }
  
}
