@use '../utils/mixins' as m;
@use 'variables' as v;

html {
    font-size: 62.5%;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* position: relative; */
}

body {
    background-color: v.$bgBody;
    font-family: v.$fuenteSecundaria; //para parrafos
    font-size: 1.6rem;

    @include m.tablet { //768px
        font-size: 1.8rem;
    }
}

//media query para fontzsize en desktop

[class$="contenedor"] {
    max-width: 130rem;
    width: 95%;
    margin: 0 auto;
    

    @media(min-width: 1600px) {
        max-width: 140rem;
    }
}

[class$="contenedor-2"] {
    max-width: 130rem;
    width: 95%;
    margin: 0 auto;
    

    @media(min-width: 1600px) {
        max-width: 190rem;
    }
}

[class*="seccion"] {
    padding: 3rem 0; 

    @include m.tablet {
        padding: 4rem 0; 
    }

    @include m.desktop {
        padding: 4.5rem 0; 
    }

    @include m.desktop-2 {
        padding: 5rem 0; 
    }

    @include m.desktop-3 {
        padding: 6rem 0; 
    }
}

.d-none {
    display: none;
}

img {
    max-width: 100%;
    display: block;
}

ul, ol {
    list-style: none;
}

.active {
    font-weight: 600;
    pointer-events: none;
}
