@use '../utils/mixins' as m;
@use 'variables' as v;

html {
    font-size: 62.5%;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body  {
    width: 100%;
    overflow: hidden;
} 

body {
    background-color: v.$bgBody;
    font-family: v.$secondaryFont; //para parrafos
    font-size: 1.6rem;

    @include m.tablet { 
        font-size: 1.8rem;
    }
}

/* body::after {
    content: '';
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: red;
    pointer-events: none;
} */

[class$="container"] {
    max-width: 130rem;
    width: 92%;
    margin: 0 auto;
    
    @include m.tablet {
        width: 95%;
    }

    @media(min-width: 1600px) {
        max-width: 140rem;
    }
}

[class$="container-2"] {
    max-width: 130rem;
    width: 95%;
    margin: 0 auto;
    

    @media(min-width: 1600px) {
        max-width: 190rem;
    }
}

[class*="section"] {
    padding: 5rem 0; 

    @include m.tablet {
        padding: 4rem 0; 
    }

    @include m.desktop {
        padding: 4.5rem 0; 
    }

    @include m.desktop-2 {
        padding: 5rem 0; 
    }

    @include m.desktop-3 {
        padding: 6rem 0; 
    }
}

.d-none {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul, ol {
    list-style: none;
}

.active {
    font-weight: 600;
    pointer-events: none;
}

.disappear {
    opacity: 0; 
    visibility: hidden;
    overflow: hidden;
}


[class$='name'] {
    color: v.$secondary;
    font-size: 2.5rem;
    font-family: v.$primaryFont;
}

.no-scroll {
    overflow: hidden;
}
