@use 'variables' as v;
@use '../utils/mixins' as m;

[class$="heading"] {
    line-height: 1.2;
}

h1 { //colocar span para "nuevo modelo" /<h1><span>Nuevo Modelos</span>Fusil FFF</h1>
    font-size: clamp(50px, 7.5vw, 100px);
    font-weight: 500;
    color: v.$secundary;
    font-family: v.$fuentePrincipal;
    
    
    /* @include m.tablet {
        font-size: 7rem;
    } 
 */
    & > span { //nuevo modelo
        font-size: clamp(40px, 5vw, 80px);
        font-weight: 500;
        display: block;

        span { //nuevo
            color: v.$primary;
        }
        
        /* @include m.tablet {
            font-size: 5rem;
        }  */
    }
}


h2 {
    font-weight: 700;
    font-size: 4rem;
    color: v.$secundary;
    
    @include m.tablet {
        font-size: 5rem;
    }

    span {
        color: v.$primary;
    }
}

h3  {
    font-weight: 500;
    font-size: 3rem;
    color: v.$secundary;
    @include m.tablet {
        font-size: 4rem;
    }
}

p {
    color: v.$secundary;
    font-size: 1.6rem;
    @include m.tablet {
        font-size: 2rem;
    }
}

a {
    text-decoration: none;
    color: v.$secundary;
}